<h1 class="center bold">Meet My Staff</h1>
<h2 class="center italic">(Of which I am Helpless Without!)</h2>
<div id="staff_wrapper">
        <div id="tm_sign">
                <%= image_tag("staff1.jpg", :alt => "The Tax Matters Sign", :class => "img_med") %>
        </div>
        </br>
        <div id="lr_wrap">
        <div id="staff_left">
                <p class="center">My Partner</p>
                <p class="center">Sandra H. Daubman</p>
                <%= image_tag("staff2.jpg", :alt => "Sandra H. Daubman", :class => "img_med") %>
                <%= image_tag("staff4.jpg", :alt => "Sandra H. Daubman", :class => "img_med") %>
        </div>
        <div id="staff_right">
                <p class="center">My Administrative Assistant/Appointments</p>
                <p class="center">Kimberly N. Daubman/Warner</p>
                <%= image_tag("staff3.jpg", :alt => "Kimberly Daubman/Warner", :class => "img_med") %>
           <p class="center">Poughkeepsie Journal Announcement </p>
                <%= image_tag("staff5.jpg", :alt => "John Daubman Newspaper Article", :class => "img_pojo") %>
        </div>
        </div>
<div class="center italic">We offer tax preparation with a personal touch..</div>

</div>

